@import '../../styles/variables';

.search-result-card {
  display: flex;
  margin-bottom: 6rem;

  // border:1px solid red;
  width: 100%;
  max-width: 960px;

  .wrapper {
    display: flex;
    padding: 0 2rem;
    background-color: #f2f3f8;
    border-radius: 10px;
    max-height: 250px;
    width: 100%;
  }

  .details-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;

    h2 {
      color: #1e2d48;
      font-size: 1.75rem;
    }
    .description {
      color: #1e2d48;
    }
    .btn-show-episodes {
      text-decoration: none;
      background-color: $primary-color;
      color: #fff;
      width: 115px;
      text-align: center;
      padding: 0.25rem;
      margin-top: 0.75rem;
      border-radius: 5px;

      &:hover {
        background-color: lighten($primary-color, 20%);
      }
    }
  }
  .image-wrapper {
    position: relative;
    width: 210px;
    height: 295px;
    flex-shrink: 0;

    img, .no-thumb  {
      position: absolute;
      top: -24px;
      border-radius: 10px;
      // opacity: 0.1;
    }
    .no-thumb {
      font-size: 5rem;
      opacity: 0.1;
      color: $primary-color;
      top: 75px;
      left: 70px;
    }
  }
}
