@import './_variables.scss';
// @import './_colors.scss';

html, body, #root, .app {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: auto;
  font-family: $baseFont;
  margin:0;
  padding:0;
}

body {
  background-color: #f0f2f5;
}

.hidden {
  display:none;
}
