$baseFont: "Roboto", sans-serif;

$toolbar-color: #203150;
$primary-color: #1e2d48;
// $secondary-color: #bc4639;
// $secondary-color-darker: #5c2018;
// $secondary-color-lighter: #d4a59a;
// $secondary-color-lightest: #f3e0dc;

// media breakpoints
$width-sm: 576px;
$width-md: 768px;
$width-lg: 992px;
$width-xl: 1200px;
$width-xxl: 1440px;
